@font-face {
    font-family:"NetflixSans-regular";
    src: url("/Assets/NetflixSans-Regular.otf")
    format("otf");
}
body{
    font-family:"NetflixSans-regular";
}
*{
    margin:0;
    padding:0;
}
header{
    height: 80vh;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbXzgFpGsabtxRgj3oslubX8lD-abhgduF2lAlau8rFLaNKAMK_57F3Rg&s=10');
    background-position:center center;
    background-size:max(100vw,1200px);
    background-repeat:no-repeat;
    
    
}
#img-blur{
	height:80vh;
	background-color:black;
	background-color: rgba(0,0,0,0.8);
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-around;
	height:14%;
	background:linear-gradient(to bottom, rgba(0,0,0,1) 0%, 
	    rgba(0,0,0,0.7) 50%,
	    rgba(0,0,0,0.5) 80%,
	    rgba(0,0,0,0) 100%
	);
}
#img-logo{
    height:100%;
}
#lang{
	position:relative;
    display:flex;
    align-items: center;
    justify-content:space-around;
    background-color: transparent;
    border:1px solid #7B7B7B;
    border-radius:5px;
    color:white;
    font-weight: bold;
    z-index: 0;
    padding:5px;
    gap:3px;
    width:114px;
}
#lang.highlight::after{
	content:"";
	position:absolute;
	top:-4px;
	bottom:-4px;
	left:-4px;
	right:-4px;
	background: transparent;
	border-radius:8px;
	z-index: -1;
	border:2px solid white;
}
#lang>span:nth-child(2){
	font-size:15px;
}
#lang-logo{
    width:80%;
}
#drop-down-logo{
    width:70%;
    transition:transform 0.25s;
}
#drop-down-logo.drop-up{
	transform:rotateZ(180deg);
}
#options{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding-left:20px;
	border:none;
	border-radius:5px;
	height:0;
	overflow:hidden;
	transition:height 0.25s linear;
	
}
#options.active{
	height:100%;
	border:1px solid #7B7B7B;
}
#options>label{
	color:white;
}
#option-btn{
	display:flex;
	flex-direction: column;
	height:100px;
	margin-top:66px;
	transform:translateX(25px);
}
#sign-in{
	background-color:#E50914;
	color:white;
	font-weight:800;
	border:none;
	padding:9px;
	padding-left:15px;
	padding-right:15px;
	border-radius:5px;
	font-size:15px;
}
#text-box{
    height:78%;
    color:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:15px;
    transform:translateY(-5%);
    margin-top:66px;
}
#text-box>div:nth-child(1){
    font-weight:1000;
    font-size:33px;
    padding-left:40px;
    padding-right:40px;
    transform: translateY(-60%);
}
#text-box>div:nth-child(2){
	font-weight:bold;
	transform: translateY(-280%);
}
#text-box>div:nth-child(3){
	padding-left:32px;
    padding-right:32px;
    font-weight:bold;
    transform: translateY(-120%);
}
.email-div{
    width:310px;
    padding:2px;
}
#text-box>div:nth-child(4){
    transform: translateY(-80%);
}
.email{
    padding:12px 15px 12px 15px;
    background: transparent;
    border:1px solid #7B7B7B;
    border-radius:5px;
    width:100%;
    box-sizing: border-box;
    caret-color:white;
    color:white;
    font-weight: bold;
    font-size:18px;
}
.email::placeholder{
    color:#BEBEBE;
    font-weight: bold;
    font-size:16px;
    transition:transform 0.25s linear;
    transform-origin:left;
}
.email:focus{
    outline: none;
    padding-bottom:5px;
    padding-top:25px;
}
.email:focus::placeholder {
	transform:translateY(-115%) scale(0.8);
}
.email-div:focus-within{
    border:2px solid white;
    border-radius:8px;
}
.proceed{
	color:white;
	background-color:#E50914;
	border:none;
	display:flex;
	align-items:center;
	justify-content:space-around;
	font-size:18px;
	font-weight:800;
	padding:10px;
	border-radius:5px;
}
#text-box>button:nth-child(5){
    transform: translateY(-85%);
    width:40%;
}
#curve>hr{
	height:600px;
	width:1200px;
	border-radius:50%;
	position:absolute;
	left:50%;
	transform:translate(-50%);
	border:3px solid transparent;
	border-top-color:#E50966;
}
#curve{
	height:50px;
	width:100%;
	background:black;
	position: relative;
	overflow:hidden;
	transform:translateY(-5px);
	box-shadow:0 -5px 20px black;
}
#curve::before{
	content:"";
	position: absolute;
	bottom:0px;
	left:5px;
	width:100%;
	height:93%;
	background:linear-gradient(to right,
		black 0%,
		#212158	50%,
		black 100%
	);
}
main{
    background-color:black;
    transform:translateY(-5px);
}
#trending{
    background:linear-gradient(to right,
		black 0%,
		#212158	50%,
		black 100%),
		linear-gradient(to bottom,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0.8) 100%
	);
	background-blend-mode:multiply;
    color:white;
    font-weight:1000;
    font-size:18px;
    padding-left:30px;
    padding-bottom:15px;
}
#movie-poster{
    background-color:black;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}
#posterRow{
    display:flex;
    overflow-x:auto;
    scroll-behavior:smooth;
    gap:25px;
    padding:12px 0;
    margin:0 50px;
}
#posterRow::-webkit-scrollbar{
    display:none;
}
#posterRow>div>img{
	height:160px;
	border-radius:10px;
}
.num{
	position: relative;
	transition: transform 0.10s linear;
}
.num:hover{
	transform:scale(1.1);
	transform-origin:center;
}
.num::before{
	position:absolute;
	transform:scale(2);
	z-index:10;
	bottom:20px;
	-webkit-text-stroke:1px white;
	color: transparent;
	font-size:40px;
	font-weight:1000;
	transition: font-size 0.10s linear;
}
#num1::before{
	content:"1";
}
#num2::before{
	content:"2";
}
#num3::before{
	content:"3";
}
#num4::before{
	content:"4";
}
#num5::before{
	content:"5";
}
#num6::before{
	content:"6";
}
#num7::before{
	content:"7";
}
.num::after{
	position:absolute;
	transform:scale(2);
	z-index:10;
	bottom:20px;
	color: black;
	font-size:40px;
	font-weight:1000;
	transition: font-size 0.10s linear;
	left:0px;
}
#num1::after{
	content:"1";
}
#num2::after{
	content:"2";
}
#num3::after{
	content:"3";
}
#num4::after{
	content:"4";
}
#num5::after{
	content:"5";
}
#num6::after{
	content:"6";
}
#num7::after{
	content:"7";
}
.scroll-btn{
	background:black;
	z-index:11;
	height:100%;
	width:100px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:width 0.5s;
	overflow:hidden;
	border:none;
	position:absolute;
}
.scroll-btn>img{
    background:#4C4C4C;
    padding:50px 0;
    border-radius:8px;
}
#left-scroll{
	left:0;
}
#right-scroll{
	right:0;
}
#reasons-text{
    color:white;
    font-weight:1000;
    font-size:18px;
    padding:50px 25px 15px ;
}
#reasons{
    margin-left:25px;
    margin-right:25px;
    display:flex;
    flex-direction:column;
    gap:8px;
}
.reason-box{
    background: 
  linear-gradient(to bottom right, #121C3D ,#2A1434);
    border:none;
    border-radius:15px;
    padding-left:15px;
    padding-right:20px;
}
.reason-box>div:nth-child(2){
    color:#ACACAC;
    font-weight:bold;
}
.reason-box>div:first-child{
    font-weight:1000;
    font-size:20px;
    color:white;
    padding-top:25px;
    padding-bottom:10px;
}
.reason-box>div:nth-child(3){
	display:flex;
	justify-content:flex-end;
	transform:translateX(20px);
	height:80px;
	padding-bottom:5px;
	padding-top:10px;
}
footer{
    background-color:black;
    transform:translateY(-5px);
    padding-left:25px;
    padding-right:25px;
}
#faq-text{
    color:white;
    font-weight:1000;
    font-size:20px;
    padding-top:60px;
    padding-bottom:20px;
}
#faq{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.faq-box{
    color:white;
    font-size:18px;
    font-weight:500;
    display:flex;
    flex-direction:column;
    gap:1px;
}
.faq-box>div:first-child{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:#272727;
	padding:10px 25px;
}
.faq-box>div:first-child>div:nth-child(2){
	font-weight:300;
	font-size:40px;
	transition:transform 0.25s;
}
.faq-box>div:first-child>div:nth-child(2).crossSign{
    transform:rotateZ(45deg);
}
.faq-box>div:nth-child(2){
	padding:0px 25px;
	display:flex;
	flex-direction:column;
	gap:20px;
	background:#272727;
	max-height:0;
	overflow:hidden;
	transition:max-height 0.25s,padding 0.25s;
}
.faq-box>div:nth-child(2).answerHeight{
    max-height:500px;
    padding-top:25px;
    padding-bottom:25px;
}
#membership{
    color:white;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
    font-weight:bold;
    padding-top:67px;
}
#membership>button:nth-child(3){
    width:46%;
}
#questions{
    display: flex;
    flex-direction:column;
    gap:15px;
    color:#ACACAC;
}
#questions>div>a{
    color:#ACACAC;
}
#questions>div>a:hover{
    color:red;
    background:#6AB0FF;
}
#inquiry-num{
    font-weight:600;
    padding-top:60px;
    padding-bottom:25px;
}
#FixedGetStarted{
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    height:auto;
    width:87vw;
    background:linear-gradient(to top,
                rgba(0,0,0,1) 0%,
                rgba(0,0,0,1) 70%,
                rgba(0,0,0,0) 100%
    );
    bottom:-100%;
    left:0;
    padding:1.5em;
    transition:bottom 0.5s;
}
#FixedGetStarted>div{
    background:#E50914;
    color:white;
    font-weight:1000;
    text-align:center;
    font-size:1rem;
    width:100%;
    border-radius:5px;
    padding:0.7em 0;
}
